{{>partial_header}}
package main

// This is a sample main function.
//
// You can compile it and the server API code from the output
// directory with the command "go build extra/main.go". This will give
// you and executable file in the output directory called "main".

import (
	"log"
	"net/http"

	"{{packageName}}"
)

func main() {
	log.Printf("Server started")

	router := {{packageName}}.NewRouter()

	log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}
