package {{packageName}}

{{>partial_header}}

import (
	"net/http"

	"github.com/gorilla/mux"
)

type swaggerRoute struct {
	Name        string
	Method      string
	Pattern     string
	HandlerFunc http.HandlerFunc
}

// Each API source file has an init() function that appends that file's
// API group to swaggerRoutes.
var swaggerRoutes [][]swaggerRoute

func NewRouter() *mux.Router {
	router := mux.NewRouter().StrictSlash(true)
	for _, apiGroup := range swaggerRoutes {
		for _, route := range apiGroup {
			handler := Logger(route.HandlerFunc, route.Name)

			router.
				Methods(route.Method).
				Path(route.Pattern).
				Name(route.Name).
				Handler(handler)
		}
	}

	return router
}
