package {{packageName}}

{{>partial_header}}

{{#apiInfo}}

import (
	"net/http"
)
{{#apis}}

////////////////////////////////////////////////////////////////////////////////
//
// API stubs for the {{classname}} API group
//
////////////////////////////////////////////////////////////////////////////////{{#operations}}{{#operation}}

func {{nickname}}(w http.ResponseWriter, r *http.Request) {
	w.Header().Set("Content-Type", "application/json; charset=UTF-8")
	w.WriteHeader(http.StatusOK)
}
{{/operation}}{{/operations}}{{/apis}}
{{^apis}}

// If you are seeing this comment then you are using a version of
// swagger-codegen that only collections API information when it is
// generating the API source code (i.e. when -Dapis is specified on the
// command line). This does make putting API related information (such as
// API stubs) into supporting files a bit difficult.

// Each stub looks like the following function. The STUB_HANDLER names
// will be the long list of undefined names that Go will complain
// about if you try compile your server without any stubs. Also, they'll
// be the operation IDs from your OpenAPI spec if you have defined an
// operation IDs.

func STUB_HANDLER(w http.ResponseWriter, r *http.Request) {
	w.Header().Set("Content-Type", "application/json; charset=UTF-8")
	w.WriteHeader(http.StatusOK)
}
{{/apis}}
{{/apiInfo}}
